* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    padding: 10px;
}

.controls .dimensions {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
    padding: 10px;
}

.controls .dimensions h2 {
    margin: 20px 0;
    font-size: 40px;
}

/*
.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    border: 2px solid;
    width: 700px;
    height: 700px;
    margin-left: 200px;
}
*/

.grid {
    background-color: aqua;
    border: 2px solid;
    width: 700px;
    height: 700px;
    margin-left: 200px;
    display: grid;
    /*grid-template-columns: repeat(16, 1fr);*/
}

.grid-item {
    background-color: yellow;
    border: 1px solid;
}